#order_img {
margin: -3% 0 0 -1%;
height: 100.5vh;
width: 25%;
float: left;
}

#left_block {
width: 60%;
height: 50%;
margin-left: 30%;
}

#fields {
width: 50%;
height: 30%;
margin-left: 30%;
margin-top: 5%;
}

.form_text {
font-size: 20px;
margin-left: 2%;
}

.form_text input {
border: 1px solid #b8b8b8;
border-radius: 10px;
margin-right: 10px;
}

#title {
font-style: italic;
font-size: 50px;
margin-left: 34%;
}

#chosen {
font-weight: bold;
font-style: italic;
font-size: 30px;
margin-left: 20%;
}

.product_frame {
height: 50px;
width: 620px;
margin-left: 17%;
margin-top: 2%;
}

.product_item {
height: 55px;
width: 500px;
box-shadow: 0 5px 5px rgba(122,122,122,0.5);
border-radius: 10px;
font-size: 20px;
float: left;
}

.product_text {
margin-left: 5%;
margin-top: 10px;
}

.delete_frame {
margin-left: 10px;
display: inline-block;
height: 50px;
width: 100px;
}

.delete_button {
box-shadow: 0 5px 5px rgba(122,122,122,0.5);
width: 100px;
height: 50px;
font-size: 20px;
font-weight: bold;
color: white;
background-color: red;
border-radius: 50px;
border: none;
outline: none;
}

#submit_button {
position: absolute;
width: 150px;
height: 35px;
font-weight: bold;
font-size: 160%;
color: white;
text-align: center;
text-decoration: none;
text-shadow: 0px 0px 2px #131313;
background-color: #ffd000;
border-radius: 30px;
border: none;
outline: none;
box-shadow: 0 5px 5px rgba(122,122,122,0.5);
margin-left: 4%;
margin-top: 2%;
}

#submit_button:hover {
width: 160px;
height: 40px;
margin-left: 3.5%;
margin-top: 2%;
}

#total_block {
height: 10%;
width: 40%;
margin-left: 10%;
}

#total_text {
margin-top: 0%;
float: left;
margin-left: 5%;
font-size: 30px;
font-style: italic;
}

#sum {
margin-left: 50%;
font-size: 30px;
font-style: italic;
}

#rub {
margin-left: 70%;
margin-top: -28%;
font-size: 30px;
font-style: italic;
}

.validationError {
margin-top: 5%;
margin-left: -5%;
color: red;
font-style: italic;
font-size: 20px;
opacity: 0;
}